.home{
    margin-top: 30px;
    padding: 30px 10px;
    box-shadow: 0px 0px 10px 2px rgb(163, 161, 161);
}
.mtech_btn{
    display: inline-block;
    margin-left:50px;
    color: rgb(230, 159, 159);
    background-color: white;
    font-size: small;
    border: none;
    padding: 7px 10px;
}
.profile{
    height: 8%;
    width: 100%;
    background-color: rgb(230, 159, 159);
    border-radius: 10px;
    padding: 5px;
}
.profile_inner{
    display: flex;
    align-items: center;
}
.profile_inner >.profile_img{
    padding: 10px;
}
.profile_inner >.profile_img img{
    height: 100px;
    width: 100px;
}
.profile .name{
    padding: 10px 30px;
    align-items: center;
}
.profile span{
    color: white;
}
.details{
    margin-top: 30px;
}
.details h4{
    margin: 0;
}
.status{
    padding: 10px;
    margin-top: 30px;  
}
.status>h4{
    background-color: rgb(230, 159, 159);
    padding: 0px 20px;
}
.details .status_details .det{
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.781);
}
.details .status_details h4{
    padding: 0px 20px;
}
.stu_password form{
    width: 100%;
    padding: 8px;
}
.stu_password label{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.stu_password label input{ 
    padding: 5px 10px;
}
.stu_password form>input{
    padding: 5px 10px !important;
    outline: none;
    border: 1px solid black;
}
button{
    margin-top: 10px ;
    padding:10px 20px ;
}
.submit_btn:hover
{
    background : Salmon;
    border: 1px solid black;
}
.mtech_btn:hover
{
    background: #EFEFEF;
    border: 1px solid black;
}
